body{
    background-color: lightsteelblue;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    color: royalblue;
}
h2{
    color: yellow;
    background-color: chocolate;
}
p{
    color: red;
    text-align: justify;
}