*{
    margin: 0;
    padding: 0;
  }
  body{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
 .background{
  

  width: 80%;
  display: block;
  background: #213a7f;
  margin: auto;
  min-height: 80vh;
 }
.div-grid{
  display: flex;
  height: 80vh;
}
.div-grid2{
  display: flex;
  height: 100%;
}
.div-grid3{
  display: flex;
  height: 16%;
}
.div-grid4{
  display: flex;
  height: 40%;
}
.div-direita,.div-esquerda{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}
.Box1{
  background-color: palevioletred;
  width: calc(100% - 20px);
    height: 15%;
    margin: 10px;
}
.Box2{
  background-color: palevioletred;
  width: calc(100% - 20px);
    height: 60%;
    margin: 10px;
}
.Box3{
  background-color: palevioletred;
  width: calc(100% - 20px);
    height: 32%;
    margin: 10px;
}
.Box4{
  background-color: palevioletred;
  width: calc(100% - 20px);
    height: 96%;
    margin: 10px;
}
.Box5{
  background-color: palevioletred;
  width: calc(100% - 20px);
    height: 100%;
    margin: 10px;
}

.Box6{
  background-color: palevioletred;
  width: calc(100% - 20px);
    height: 100%;
    margin: 10px;
}
.Box7{
  background-color: palevioletred;
  height: 25%;
    width: calc(100% - 20px);
    margin: 10px;
}
.Box8{
  background-color: palevioletred;
  height: 60%;
    width: calc(100% - 20px);
    margin: 10px;
}
.Box9{
  background-color: palevioletred;
  height: 60%;
    width: calc(100% - 20px);
    margin: 10px;
}
.Box10{
  background-color: palevioletred;
  height: 25%;
    width: calc(100% - 20px);
    margin: 10px;
}
.Box11{
  background-color: palevioletred;
  height: 18.5%;
    width: calc(100% - 20px);
    margin: 10px;
}
.Box12{
  background-color: palevioletred;
  height: 18.5%;
  width: calc(100% - 20px);
  margin: 10px;
}


@media only screen and (max-width: 1000px){
  .div-grid{
    flex-direction: column;
  }
}

@media only screen and (max-width: 800px){
  .div-grid{
    flex-direction: column;
  }
  .div-grid2{
    flex-direction: column;
  }


}
@media only screen and (max-width: 600px){
  .div-grid{
    flex-direction: column;
  }
  .div-grid2{
    flex-direction: column;
  }
  .div-grid3{
    flex-direction: column;
  }
  .div-grid4{
    flex-direction: column;
  }
}